@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: catfont;
  src: url('./fonts/simple-cat-font/Simplecat-d9xpV.otf');
}

@font-face {
  font-family: meowsfont;
  src: url('./fonts/meows-nepil-font/MeowsNepilRegular-Yzvwa.ttf');
}

@font-face {
  font-family: cattiefont;
  src: url('./fonts/cattie-font/CattieRegular-EaBG8.ttf');
}

* {
  background-color: #61dafb;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button {
  margin-top: 10px;
}

.container-img {
  width: 500px;
  height: 500px;
}

.container-img img {
  width: 100%;
  height: 100%;
}

.title {
  /* font-family: 'Poppins', sans-serif; */
  font-family: cattiefont;
  font-size: 100px;
}
